/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.sign{
        height: 50px;
    width: 100px;
    margin: 10px 5px;
    background-color: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    float: right;
}
span{
    font-size: 50px;
}
.modal-dialog {
width: 360px;
height:600px ;
}
   .modal-body p{
        text-align: center;
    }
    .modal-header button{
        padding: 0px;
        margin: 0px;
        float: right;
    }
.modal-title{
    text-align: center;
}
.modal-dialog{
    color: black;
}